$white: #fff;
$black: #000;
$black-100: #413F3D;
$orange: #FF8E69;
$yellow: #FEE0BA;
$blue-100: #E3EDF8;
$blue-800: #2A295C;
$blue-900: #2C275F;
$blue-100-60: rgba(227, 237, 248, 0.6);// transparent 60%
$tackbutler-paars: #8181DA;
$lichtpaars: #E6E6F8;

$gray-200: #BDBDBD;
$gray-400: #9CA3AF;
$gray-800: #6B7280;



$footer-bg: rgba(229, 229, 229, 0.35);
$headings-color: #414548;
$paragraphs-color: #425466;