html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-size: 1.125rem;
  font-family: 'Quicksand', sans-serif;
  color: #000;
  line-height: 180%;
}

.row {
  width: 100%;
  margin: 0;
}

h1 {
  font-size: 3.5rem;
  color: #414548;
  font-weight: bold;
  line-height: 70px;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
  color: #414548;
  line-height: 60px;
}

h3 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 50px;
}

h4 {
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 28px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.orange-text {
  color: #FF8E69;
}

.stackbutler-text {
  color: #8181DA;
}

.orange-btn-lg {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  border: 1px solid transparent;
  background-color: #FF8E69;
  font-size: 1.25rem;
  font-weight: 500;
  color: #fff;
  line-height: 25px;
  border-radius: 15px;
  padding: 9px 39px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.orange-btn-lg:hover {
  border-color: #FF8E69;
  background-color: transparent;
  color: #FF8E69;
}

.orange-btn-outline {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  border: 1px solid #FF8E69;
  color: #FF8E69;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 25px;
  border-radius: 15px;
  padding: 9px 39px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.orange-btn-outline:hover {
  border-color: transparent;
  background-color: #FF8E69;
  color: #fff;
}

.noraml-weight {
  font-weight: normal;
}

.bold-weight {
  font-weight: bold;
}

.sm-texts {
  font-size: 1.25rem;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background-color: #FF8E69;
}

@media (max-width: 575.98px) {
  h1 {
    font-size: 3rem;
    line-height: 60px;
  }
  h2 {
    font-size: 2.4rem;
    line-height: 40px;
  }
  h3 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 34px;
  }
  .orange-btn-lg,
  .orange-btn-outline {
    padding: 5px 20px;
    padding-bottom: 7px;
    font-size: 1rem;
    line-height: 24px;
  }
}

header {
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

header .top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 0;
}

header .top-header .toggle-menu-container {
  display: none;
}

header .top-header .toggle-menu-container button {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  font-size: 1.6rem;
  color: #414548;
}

header .top-header #tablet-logo {
  display: none;
}

header .top-header #tablet-logo a {
  font-size: 2rem;
  font-weight: bold;
  line-height: 40px;
  color: #414548;
  padding: 0;
}

header .top-header .search-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .top-header .search-container .logo {
  font-size: 2rem;
  color: #414548;
  font-weight: bold;
  line-height: 40px;
  padding: 0;
  margin-right: 3rem;
}

header .top-header .search-container input {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  border-bottom: 1px solid #414548;
  padding-right: 2rem;
  padding-left: 1px;
  font-size: 1.25;
  color: #425466;
  line-height: 25px;
}

header .top-header .search-container input::-webkit-input-placeholder {
  color: #425466;
}

header .top-header .search-container input:-ms-input-placeholder {
  color: #425466;
}

header .top-header .search-container input::-ms-input-placeholder {
  color: #425466;
}

header .top-header .search-container input::placeholder {
  color: #425466;
}

header .top-header .search-container .search-btn {
  position: absolute;
  right: 4px;
  bottom: 2px;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  font-size: 1.25;
  color: #FF8E69;
}

header .top-header .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .top-header .nav-list li {
  display: inline-block;
  margin-right: 1rem;
}

header .top-header .nav-list li:last-child {
  margin-right: 0;
}

header .top-header .nav-list li .orange-btn-lg {
  margin-left: 1rem;
}

header .top-header .nav-list li a {
  display: block;
  font-size: 1.25rem;
  font-weight: 500;
  color: #414548;
  line-height: 25px;
  padding: 6px 12px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

header .top-header .nav-list li a:hover {
  color: #FF8E69;
}

header .top-header .nav-list .logo-container {
  margin-right: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .top-header .nav-list .logo-container .logo {
  font-size: 2rem;
  font-weight: bold;
  line-height: 40px;
  padding: 0;
}

header .top-header .nav-list .logo-container .logo-single-page {
  display: none;
}

header .top-header .single-product-none {
  display: none;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.16);
  z-index: 99;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.fixed-header .top-header {
  padding: .75rem 0;
}

.tablet-side-menu {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  width: 360px;
  height: 100vh;
  background-color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
  overflow-y: auto;
  z-index: 99999;
}

.tablet-side-menu .close-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.tablet-side-menu .close-btn-container .logo {
  font-size: 1.25rem;
  color: #414548;
  font-weight: bold;
  line-height: 24px;
  margin: 0;
}

.tablet-side-menu .close-btn-container #close-menu {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  font-size: 1.5rem;
  color: #9CA3AF;
  font-weight: 300;
}

.tablet-side-menu .tablet-top-links {
  padding: 0 1rem 1.5rem 1rem;
}

.tablet-side-menu .tablet-top-links .tablet-list-links li {
  padding: .4rem 0;
  margin: 0;
  margin-top: .4rem;
}

.tablet-side-menu .tablet-top-links .tablet-list-links li a {
  font-size: 1rem;
  color: #414548;
  font-weight: bold;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.tablet-side-menu .tablet-top-links .tablet-list-links li a:hover {
  color: #FF8E69;
}

.tablet-side-menu .tablet-top-links .tablet-list-links li a .nav-cions {
  margin-right: 1.1rem;
  margin-top: -4px;
}

.tablet-side-menu .tablet-top-links .tablet-list-links li .orange-text {
  color: #FF8E69;
}

.tablet-side-menu .tablet-bottom-links {
  border-top: 2px solid #F9FAFB;
  padding: 1.5rem 1rem 1rem 1rem;
}

.tablet-side-menu .tablet-bottom-links .tablet-links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.tablet-side-menu .tablet-bottom-links .tablet-links-container .tablet-links-list {
  width: 47%;
}

.tablet-side-menu .tablet-bottom-links .tablet-links-container .tablet-links-list:first-child {
  padding-left: 2.2rem;
}

.tablet-side-menu .tablet-bottom-links .tablet-links-container .tablet-links-list li {
  margin: 0;
  margin-bottom: .5rem;
}

.tablet-side-menu .tablet-bottom-links .tablet-links-container .tablet-links-list li a {
  color: #414548;
  font-size: 1rem;
  font-weight: bold;
  line-height: 14px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.tablet-side-menu .tablet-bottom-links .tablet-links-container .tablet-links-list li a:hover {
  color: #FF8E69;
}

.tablet-side-menu .tablet-bottom-links .btn-container {
  text-align: center;
}

.tablet-side-menu .tablet-bottom-links .btn-container .orange-btn-lg {
  display: block;
  width: 80%;
  margin: 1rem auto;
}

.tablet-side-menu .tablet-bottom-links .btn-container p {
  font-size: 1rem;
  line-height: 14px;
  color: #414548;
  font-weight: bold;
}

.tablet-side-menu .tablet-bottom-links .btn-container p a {
  display: inline-block;
  color: #FF8E69;
  font-size: 1rem;
  font-weight: bold;
  line-height: 14px;
}

.nav-list-active {
  -webkit-transform: translate(0%);
          transform: translate(0%);
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
}

@media (max-width: 991.98px) {
  header .top-header {
    padding: .75rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .top-header .toggle-menu-container {
    display: block;
  }
  header .top-header #tablet-logo {
    display: block;
  }
  header .top-header .search-container {
    display: none;
  }
  header .top-header .nav-list {
    display: none;
  }
  header .top-header .single-product-none {
    display: block;
  }
}

@media (max-width: 575.98px) {
  header .top-header #tablet-logo a {
    font-size: 1.6rem;
  }
  .tablet-side-menu {
    width: 320px;
  }
}

#menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

.login-signup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99999;
  display: none;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.login-signup .forms-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.login-signup .forms-container .log-forms {
  background-color: #fff;
  border-radius: 15px;
  max-width: 400px;
  height: auto;
  padding: 2rem;
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-signup .forms-container .log-forms .form-header {
  text-align: center;
}

.login-signup .forms-container .log-forms .form-header h1 {
  margin: 0;
  font-size: 3rem;
  font-weight: 300;
}

.login-signup .forms-container .log-forms .form-header p {
  font-size: 1.125rem;
  line-height: 180%;
  margin: 0;
}

.login-signup .forms-container .log-forms .form-header p .form-link {
  color: #FF8E69;
  cursor: pointer;
}

.login-signup .forms-container .log-forms .form-inputs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 5rem;
}

.login-signup .forms-container .log-forms .form-inputs input {
  outline: none;
  width: 100%;
  background-color: rgba(196, 196, 196, 0.1);
  border: 1px solid #E5E5E5;
  border-radius: 15px;
  margin-bottom: 1.4rem;
  font-size: 1.125rem;
  line-height: 180%;
  padding: 5px 15px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.login-signup .forms-container .log-forms .form-inputs input::-webkit-input-placeholder {
  color: #000;
}

.login-signup .forms-container .log-forms .form-inputs input:-ms-input-placeholder {
  color: #000;
}

.login-signup .forms-container .log-forms .form-inputs input::-ms-input-placeholder {
  color: #000;
}

.login-signup .forms-container .log-forms .form-inputs input::placeholder {
  color: #000;
}

.login-signup .forms-container .log-forms .form-inputs input:focus {
  background-color: transparent;
  border-color: #FF8E69;
}

.login-signup .forms-container .log-forms .form-inputs input[type=email] {
  font-weight: bold;
}

.login-signup .forms-container .log-forms .form-inputs .names-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.login-signup .forms-container .log-forms .form-inputs .names-container input {
  width: 48%;
}

.login-signup .forms-container .sign-up-form {
  display: none;
}

.active-login-signup {
  display: block;
  opacity: 1;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

@media (max-width: 575.98px) {
  .login-signup .forms-container .log-forms {
    width: 90%;
    padding: 2rem 1rem;
  }
}

footer {
  background-color: rgba(229, 229, 229, 0.35);
  padding: 4.125rem 0 3.563rem 0;
}

footer #footer-logo-container {
  position: relative;
  padding: 0;
}

footer #footer-logo-container img {
  position: absolute;
  left: -3.3rem;
  top: -3.3rem;
  z-index: -1;
}

footer #footer-logo-container h2 {
  margin-bottom: 1.1rem;
}

footer #footer-links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}

footer #footer-links-container .footer-links-container {
  width: 31%;
}

footer #footer-links-container .footer-links-container .links-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: .5rem;
}

footer #footer-links-container .footer-links-container .links-title p {
  text-transform: uppercase;
  font-size: .875rem;
  font-weight: 600;
  color: #414548;
  line-height: 20px;
  margin-bottom: 0;
}

footer #footer-links-container .footer-links-container .links-title .show-footer-links {
  display: none;
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  color: #9CA3AF;
}

footer #footer-links-container .footer-links-container .links-title .show-footer-links .hide {
  display: none;
}

footer #footer-links-container .footer-links-container ul li {
  margin-bottom: .5rem;
}

footer #footer-links-container .footer-links-container ul li:last-child {
  margin-bottom: 0;
}

footer #footer-links-container .footer-links-container ul li a {
  font-size: 1rem;
  color: #6B7280;
  line-height: 24px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

footer #footer-links-container .footer-links-container ul li a:hover {
  color: #FF8E69;
}

footer #social-icons-container {
  margin-top: 1.2rem;
}

footer #social-icons-container .social-icons-linkslist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer #social-icons-container .social-icons-linkslist li {
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  margin-right: 6px;
}

footer #social-icons-container .social-icons-linkslist li a {
  font-size: 1.6rem;
  color: #000;
  line-height: 30px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

footer #social-icons-container .social-icons-linkslist li a:hover {
  color: #FF8E69;
}

@media (max-width: 991.98px) {
  footer #footer-links-container {
    padding-top: 2rem;
  }
}

@media (max-width: 767.98px) {
  footer #footer-logo-container {
    position: relative;
    padding: 0;
    text-align: center;
  }
  footer #footer-logo-container img {
    position: absolute;
    left: 3.3rem;
  }
  footer #footer-links-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 1rem;
  }
  footer #footer-links-container .footer-links-container {
    width: 100%;
    padding-bottom: 0;
    overflow-y: hidden;
    margin-top: 1.4rem;
    height: 33px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  footer #footer-links-container .footer-links-container .links-title {
    border-bottom: 1px solid #9CA3AF;
  }
  footer #footer-links-container .footer-links-container .links-title .show-footer-links {
    display: block;
  }
  footer #footer-links-container .footer-links-container ul li {
    margin-bottom: 0;
  }
  footer #footer-links-container .active-links {
    height: auto;
  }
  footer #footer-links-container .active-links .links-title .show-footer-links .hide {
    display: block;
  }
  footer #footer-links-container .active-links .links-title .show-footer-links .show {
    display: none;
  }
}

@media (max-width: 575.98px) {
  footer {
    padding: 4.125rem 0 2rem 0;
  }
  footer #footer-links-container {
    padding-top: 0;
  }
}

.result-cards {
  background-color: #fff;
  border-radius: 15px;
  text-align: center;
  padding: 1rem .75rem;
  padding-top: 1.4rem;
}

.result-cards h6 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 30px;
  margin: .75rem 0;
}

.result-cards .stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  color: #FEE0BA;
}

.result-cards .stars i {
  margin-right: 3px;
}

.result-cards .reviews {
  font-size: .875rem;
  line-height: 17px;
  color: #BDBDBD;
  margin: .75rem 0 .2rem 0;
}

.result-cards .orange-text {
  font-size: .875rem;
  line-height: 17px;
  margin: 0;
}

.border-cards {
  border: 1px solid #BDBDBD;
}

.reviews-container .review-cards {
  margin-bottom: 1.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(227, 237, 248, 0.6);
  border-radius: 15px;
  padding: 1rem;
}

.reviews-container .review-cards:last-child {
  margin-bottom: 0;
}

.reviews-container .review-cards .name-container {
  width: 270px;
  text-align: center;
  padding: 0 1rem;
}

.reviews-container .review-cards .name-container h4 {
  margin-bottom: 3px !important;
}

.reviews-container .review-cards .name-container p {
  color: #414548;
}

.reviews-container .review-cards .review-texts {
  padding: 0 .75rem;
}

.reviews-container .review-cards .review-texts h4 {
  margin-bottom: 8px !important;
  color: #414548;
}

.reviews-container .review-cards .review-texts p {
  font-size: 1rem;
  color: #414548;
  margin: 0;
}

.reviews-container .review-cards .review-texts .sm-fonts {
  font-size: 14px;
}

.reviews-container .review-cards .review-texts .stars {
  color: #FEE0BA;
}

.alternative-cards {
  margin-bottom: 1.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(227, 237, 248, 0.6);
  border-radius: 15px;
  padding: 1rem;
}

.alternative-cards:last-child {
  margin-bottom: 0;
}

.alternative-cards .logo-container {
  width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.alternative-cards .card-texts {
  padding: 0 .5rem;
}

.alternative-cards .card-texts .card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0;
}

.alternative-cards .card-texts .card-title .card-ratings h4 {
  margin-bottom: 0 !important;
  color: #414548;
}

.alternative-cards .card-texts .card-title .card-ratings p {
  color: #FEE0BA;
  margin: 0;
}

.alternative-cards .card-texts p {
  font-size: 1rem;
  color: #414548;
  margin: 0;
}

.price-cards {
  background-color: rgba(227, 237, 248, 0.6);
  border-radius: 15px;
  padding: 2rem;
}

.price-cards h3 {
  color: #414548;
  margin-bottom: 0;
}

.price-cards p {
  font-size: 1rem;
  color: #414548;
  line-height: 20px;
  margin: 14px 0 0 0;
}

.price-cards .btns-container {
  margin-top: 2.7rem;
}

.price-cards .btns-container .orange-btn-lg {
  padding: 8px 34px;
}

.scroll-up-container {
  display: none;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: 9;
}

.scroll-up-container #scroll-up-btn {
  padding: 5px 10px;
  border-radius: 50%;
  background-color: #FF8E69;
  font-size: 1.5rem;
  color: #fff;
  line-height: 40px;
}

.show-top-link {
  display: block;
}

@media (max-width: 767.98px) {
  .reviews-container .review-cards .name-container {
    padding: 0;
  }
  .reviews-container .review-cards .review-texts {
    padding-right: 0;
  }
  .alternative-cards .card-texts {
    padding-right: 0;
  }
}

@media (max-width: 575.98px) {
  .scroll-up-container {
    right: 1rem;
    bottom: 1rem;
    font-size: 1.2rem;
    padding: 3px 8px;
  }
  .reviews-container .review-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .reviews-container .review-cards .name-container {
    width: 100%;
    text-align: left;
  }
  .reviews-container .review-cards .review-texts {
    padding: 0;
  }
  .alternative-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .alternative-cards .logo-container {
    width: 100%;
    padding-bottom: 1rem;
  }
  .alternative-cards .card-texts {
    padding: 0;
  }
}

.surfable-compare {
  padding: 5rem 0 0 1.625rem;
}

.surfable-compare .compare-card {
  background-color: rgba(227, 237, 248, 0.6);
  border-radius: 15px;
  padding: 2rem;
  height: 100%;
}

.surfable-compare .compare-card h3 {
  text-align: center;
  color: #8181DA;
}

.surfable-compare .compare-card .comparisons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1.6rem;
}

.surfable-compare .compare-card .comparisons .surfable {
  text-align: center;
}

.surfable-compare .compare-card .comparisons .surfable p {
  font-size: 1.25rem;
  color: #414548;
  line-height: 25px;
  margin-top: 1rem;
}

.surfable-compare .compare-card .comparisons .vs {
  text-align: center;
  margin-top: 1rem;
}

.surfable-compare .compare-card .comparisons .vs p {
  font-size: 1.5rem;
  color: #414548;
  font-weight: bold;
  line-height: 30px;
}

.surfable-compare .compare-card .comparisons .asana {
  text-align: center;
}

.surfable-compare .compare-card .comparisons .asana p {
  font-size: 1.25rem;
  color: #414548;
  line-height: 25px;
  margin-top: 1.87rem;
}

@media (max-width: 1399.98px) {
  .surfable-compare .compare-card {
    padding: 2rem .6rem;
  }
  .surfable-compare .compare-card h3 {
    font-size: 2rem;
  }
  .surfable-compare .compare-card .surfable img {
    max-width: 60%;
    height: auto;
  }
  .surfable-compare .compare-card .asana img {
    max-width: 70%;
    height: auto;
  }
}

@media (max-width: 991.98px) {
  .surfable-compare {
    padding: 0;
    margin-top: 3rem;
  }
  .surfable-compare .compare-card {
    padding: 2rem;
  }
  .surfable-compare .compare-card h3 {
    font-size: 2.4rem;
  }
  .surfable-compare .compare-card .surfable img, .surfable-compare .compare-card .asana img {
    max-width: 100%;
  }
}

.comparison-lg {
  padding: 5rem 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.comparison-lg .comparison-container {
  width: 258px;
  height: 804px;
  background-color: rgba(227, 237, 248, 0.6);
  border-radius: 15px;
  padding: 2rem .75rem;
}

.comparison-lg .comparison-container h3 {
  color: #8181DA;
  text-align: center;
}

.comparison-lg .comparison-container .comparisons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1.6rem;
}

.comparison-lg .comparison-container .comparisons .surfable {
  text-align: center;
}

.comparison-lg .comparison-container .comparisons .surfable p {
  font-size: 1.25rem;
  color: #414548;
  line-height: 25px;
  margin-top: 1rem;
}

.comparison-lg .comparison-container .comparisons .vs {
  text-align: center;
  margin-top: 1rem;
}

.comparison-lg .comparison-container .comparisons .vs p {
  font-size: 1.5rem;
  color: #414548;
  font-weight: bold;
  line-height: 30px;
}

.comparison-lg .comparison-container .comparisons .asana {
  text-align: center;
}

.comparison-lg .comparison-container .comparisons .asana p {
  font-size: 1.25rem;
  color: #414548;
  line-height: 25px;
  margin-top: 1.87rem;
}

@media (max-width: 991.98px) {
  .comparison-lg {
    padding-top: 2rem;
  }
  .comparison-lg .comparison-container {
    width: 100%;
    height: auto;
    padding: 2rem 3rem;
  }
}

@media (max-width: 767.98px) {
  .comparison-lg .comparison-container {
    padding: 2rem;
  }
}

@media (max-width: 415.98px) {
  .comparison-lg .comparison-container {
    padding: 1rem;
  }
}

#hero-section {
  padding: 2.5rem 0;
  padding-bottom: 8rem;
}

#hero-section .hero-texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 1rem;
  padding-right: 1.1rem;
}

#hero-section .hero-texts h1 {
  text-transform: capitalize;
  color: #414548;
  margin-bottom: 20px;
}

#hero-section .hero-texts p {
  font-size: 1.25rem;
  font-weight: 500;
  color: #425466;
  line-height: 160%;
}

#hero-section .hero-texts .search-container {
  position: relative;
  margin-top: 1rem;
}

#hero-section .hero-texts .search-container input {
  position: relative;
  width: 96%;
  padding: 1rem 0;
  padding-right: 5rem;
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  border-bottom: 1px solid #414548;
  font-size: 20px;
  color: #425466;
  line-height: 25px;
}

#hero-section .hero-texts .search-container input::-webkit-input-placeholder {
  color: #425466;
}

#hero-section .hero-texts .search-container input:-ms-input-placeholder {
  color: #425466;
}

#hero-section .hero-texts .search-container input::-ms-input-placeholder {
  color: #425466;
}

#hero-section .hero-texts .search-container input::placeholder {
  color: #425466;
}

#hero-section .hero-texts .search-container button {
  position: absolute;
  right: 1.3rem;
  bottom: 10px;
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  height: 58px;
  width: 58px;
  background-color: #FF8E69;
  border-radius: 50%;
  font-size: 28px;
  font-weight: 100;
  color: #fff;
}

#hero-section .hero-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 991.98px) {
  #hero-section {
    padding-bottom: 5rem;
  }
  #hero-section .hero-texts {
    padding-right: 3rem;
  }
  #hero-section .hero-image {
    padding-top: 3rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767.98px) {
  #hero-section .hero-texts {
    padding-right: .75rem;
  }
}

@media (max-width: 575.98px) {
  #hero-section .hero-texts .search-container button {
    width: 40px;
    height: 40px;
    font-size: 22px;
  }
}

#mostused {
  background-color: #E3EDF8;
  padding: 4rem 0;
}

#mostused #tabs-container {
  padding: 5.4rem 0 0 0;
}

#mostused #tabs-container .heading {
  position: relative;
  margin-bottom: 36px;
}

#mostused #tabs-container .heading img {
  position: absolute;
  left: -3.3rem;
  top: -3.7rem;
  max-width: 90%;
  height: auto;
}

#mostused #tabs-container .heading h2 {
  position: relative;
  z-index: 10;
}

#mostused #tabs-container #tabs-btns-container {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 12px;
  grid-row-gap: 14px;
  -ms-grid-columns: (minmax(160px, max-content))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(160px, -webkit-max-content));
      grid-template-columns: repeat(auto-fit, minmax(160px, max-content));
  grid-auto-rows: auto;
}

#mostused #tabs-container #tabs-btns-container .tabs-btn {
  width: 100%;
  padding: .8rem 1.2rem;
  background-color: #fff;
  border-radius: 15px;
  cursor: pointer;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

#mostused #tabs-container #tabs-btns-container .tabs-btn:hover {
  background-color: #E6E6F8;
}

#mostused #tabs-container #tabs-btns-container .tabs-btn:hover .img-container .bg-img {
  display: block;
}

#mostused #tabs-container #tabs-btns-container .tabs-btn .img-container {
  position: relative;
}

#mostused #tabs-container #tabs-btns-container .tabs-btn .img-container .bg-img {
  display: none;
  position: absolute;
  left: -.6rem;
  top: -.2rem;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  z-index: 1;
}

#mostused #tabs-container #tabs-btns-container .tabs-btn .img-container .icon-img {
  position: relative;
  z-index: 4;
}

#mostused #tabs-container #tabs-btns-container .tabs-btn h4 {
  margin: 2px 0;
}

#mostused #tabs-container #tabs-btns-container .tabs-btn p {
  font-size: .875rem;
  line-height: 18px;
  font-weight: 600;
  margin: 0;
}

#mostused #tabs-container #tabs-btns-container .active-tab {
  background-color: #E6E6F8;
}

#mostused #tabs-container #tabs-btns-container .active-tab .img-container .bg-img {
  display: block;
}

#mostused #software-result {
  padding-right: 0;
}

#mostused #software-result .tabs-content {
  display: none;
}

#mostused #software-result .tabs-content .developers-result {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 22px;
  grid-row-gap: 25px;
  -ms-grid-columns: (minmax(170px, 180px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(170px, 180px));
  grid-auto-rows: auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

#mostused #software-result .tabs-content .all-links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: .8rem;
  padding-right: 160px;
}

#mostused #software-result .tabs-content .all-links-container a {
  padding: 3px 10px;
  font-size: 1.125rem;
  color: #8181DA;
  font-weight: 500;
  line-height: 25px;
}

#mostused #software-result .tabs-content .all-links-container a span i {
  font-size: 1rem;
}

#mostused #software-result .active-content {
  display: block;
}

@media (max-width: 1199.98px) {
  #mostused #software-result .tabs-content .all-links-container {
    padding-right: 54px;
  }
}

@media (max-width: 991.98px) {
  #mostused #tabs-btns-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #mostused #software-result {
    padding: 0;
    padding-top: 3rem;
  }
  #mostused #software-result .tabs-content .developers-result {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #mostused #software-result .tabs-content .all-links-container {
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767.98px) {
  #mostused #tabs-container #tabs-btns-container {
    -ms-grid-columns: (minmax(180px, max-content))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(180px, -webkit-max-content));
        grid-template-columns: repeat(auto-fit, minmax(180px, max-content));
    gap: 22px;
  }
}

@media (max-width: 575.98px) {
  #mostused #tabs-container {
    padding: 0;
  }
}

@media (max-width: 405.98px) {
  #mostused #tabs-container #tabs-btns-container {
    -ms-grid-columns: (minmax(150px, max-content))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(150px, -webkit-max-content));
        grid-template-columns: repeat(auto-fit, minmax(150px, max-content));
    gap: 22px;
  }
  #mostused #software-result .tabs-content .developers-result {
    -ms-grid-columns: (minmax(150px, max-content))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(150px, -webkit-max-content));
        grid-template-columns: repeat(auto-fit, minmax(150px, max-content));
    gap: 22px;
  }
}

#stackbutler-desc {
  padding: 4rem 0;
}

#popular-software {
  padding: 4rem 0;
  background-color: #E6E6F8;
}

#popular-software .heading {
  position: relative;
}

#popular-software .heading img {
  position: absolute;
  left: -3rem;
  top: -3rem;
  z-index: 1;
}

#popular-software .heading h2 {
  position: relative;
  z-index: 10;
}

#popular-software .slider-container {
  position: relative;
  padding: 3rem 0 1rem 0;
  overflow-x: hidden;
}

#popular-software .slider-container .slider-cards {
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 15px;
}

#popular-software .slider-container .slider-cards p {
  font-size: 11px;
  color: #413F3D;
  line-height: 19px;
}

#popular-software .slider-container .slider-cards .task-management p {
  display: inline-block;
  background-color: rgba(227, 237, 248, 0.6);
  font-size: 11px;
  color: #413F3D;
  line-height: 19px;
  padding: 4px 15px;
  border-radius: 13px;
}

#popular-software .slider-container .slider-cards .logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
}

#popular-software .slider-container .slider-cards .logos .asana-logo {
  margin: 0 2rem 0 1rem;
}

#popular-software .slider-container .slider-cards .logos .asana-desc h4 {
  color: #413F3D;
  margin: 0 0 6px 0;
}

#popular-software .slider-container .slider-cards .logos .asana-desc p {
  font-size: 11px;
  color: #413F3D;
  line-height: 19px;
  margin: 0 0 8px 0;
}

#popular-software .slider-container .slider-cards .logos .asana-desc p .stars {
  color: #FEE0BA;
  margin-right: 2px;
}

#popular-software .slider-container .slider-cards .texts {
  padding-bottom: 3rem;
}

#popular-software .slider-container .slider-cards .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#software {
  padding: 10rem 0;
}

#software .software-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#software .software-row .software-desc {
  padding-left: 2rem;
}

#software .software-row .software-desc .heading-container {
  position: relative;
}

#software .software-row .software-desc .heading-container .background-img {
  position: absolute;
  left: -4.1rem;
  top: -1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: -1;
}

#software .software-row .software-desc .heading-container .background-img img {
  margin-right: 1.4rem;
}

@media (max-width: 991.98px) {
  #software {
    padding: 6rem 0;
  }
  #software .software-row .software-desc {
    padding: 0;
    padding-top: 3rem;
  }
}

@media (max-width: 575.98px) {
  #software {
    padding: 4rem 0;
  }
}

#product-hero {
  padding: 10rem 0 1rem 0;
}

#product-hero .hero-texts .hero-heading {
  position: relative;
}

#product-hero .hero-texts .hero-heading img {
  position: absolute;
  left: -1rem;
  top: -2.5rem;
  z-index: -1;
}

@media (max-width: 991.98px) {
  #product-hero {
    padding: 7rem 0 1rem 0;
  }
}

@media (max-width: 767.98px) {
  #product-hero {
    padding: 6rem 0 1rem 0;
  }
}

@media (max-width: 575.98px) {
  #product-hero {
    padding: 4rem 0 1rem 0;
  }
}

#product-filter {
  padding: 2rem 0 7rem 0;
}

#product-filter .flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#product-filter .flex-wrapper #filter-container {
  width: 255px;
  height: auto;
  background-color: rgba(227, 237, 248, 0.6);
  margin-right: 2rem;
  border-radius: 15px;
}

#product-filter .flex-wrapper #filter-container .search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.2rem 1.875rem;
  padding-bottom: 0.2rem;
}

#product-filter .flex-wrapper #filter-container .search-container .icon {
  color: #425466;
  font-weight: 300;
}

#product-filter .flex-wrapper #filter-container .search-container input {
  width: 100%;
  color: #425466;
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  padding: .5rem;
}

#product-filter .flex-wrapper #filter-container .search-container input::-webkit-input-placeholder {
  color: #425466;
}

#product-filter .flex-wrapper #filter-container .search-container input:-ms-input-placeholder {
  color: #425466;
}

#product-filter .flex-wrapper #filter-container .search-container input::-ms-input-placeholder {
  color: #425466;
}

#product-filter .flex-wrapper #filter-container .search-container input::placeholder {
  color: #425466;
}

#product-filter .flex-wrapper #filter-container .under-line {
  border-top: 1px solid #BDBDBD;
  width: 96%;
  margin: auto;
}

#product-filter .flex-wrapper #filter-container .filters {
  padding: 1rem 1.875rem;
}

#product-filter .flex-wrapper #filter-container .filters .star-filter {
  padding: 1rem 0 1.1rem 0;
}

#product-filter .flex-wrapper #filter-container .filters .star-filter h3 {
  font-size: 1.25rem;
  font-weight: 700;
  color: #425466;
  line-height: 160%;
}

#product-filter .flex-wrapper #filter-container .filters .star-filter .star-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#product-filter .flex-wrapper #filter-container .filters .star-filter .star-row input[type='checkbox'] {
  width: 15px;
  height: 15px;
  border: 1px solid #8181DA;
  margin-right: 7px;
}

#product-filter .flex-wrapper #filter-container .filters .star-filter .star-row span {
  line-height: 24px;
}

#product-filter .flex-wrapper #filter-container .filters .star-filter .star-row span i {
  margin-right: 7px;
  font-size: 15px;
  color: #FEE0BA;
  line-height: 16px;
}

#product-filter .flex-wrapper #filter-container .filters .fitler-form {
  padding: 1.1rem 0 1.9rem 0;
}

#product-filter .flex-wrapper #filter-container .filters .fitler-form .select-container {
  margin-bottom: 1rem;
}

#product-filter .flex-wrapper #filter-container .filters .fitler-form .select-container label {
  font-size: 1.25rem;
  font-weight: 700;
  color: #425466;
  line-height: 160%;
  margin-bottom: 4px;
}

#product-filter .flex-wrapper #filter-container .filters .fitler-form .select-container .form-select {
  border: 1px solid #8181DA;
  padding: 6px 12px;
  font-size: 14px;
  color: #425466;
  font-weight: 600;
  line-height: 160%;
  background-color: transparent;
  background-image: none;
}

#product-filter .flex-wrapper #filter-container .filters .fitler-form .select-container .form-select option {
  background: rgba(227, 237, 248, 0.6);
  font-size: 14px;
  color: #425466;
  font-weight: 600;
  line-height: 160%;
}

#product-filter .flex-wrapper #filter-container .filters .fitler-form .orange-btn-lg {
  margin-top: .5rem;
  width: 100%;
  border-radius: 5px;
  font-weight: 700;
}

#product-filter .flex-wrapper #products-container {
  width: calc(80% - 287px);
  display: -ms-grid;
  display: grid;
  grid-column-gap: 22px;
  grid-row-gap: 25px;
  -ms-grid-columns: (minmax(170px, 180px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(170px, 180px));
  grid-auto-rows: auto;
}

@media (max-width: 1199.98px) {
  #product-filter {
    padding: 2rem 0 6rem 0;
  }
  #product-filter .flex-wrapper #products-container {
    width: calc(100% - 287px);
  }
}

@media (max-width: 767.98px) {
  #product-filter {
    padding: 2rem 0 4rem 0;
  }
  #product-filter .flex-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #product-filter .flex-wrapper #filter-container {
    margin-right: 0;
    width: 100%;
  }
  #product-filter .flex-wrapper #products-container {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 2.5rem;
  }
}

#single-product-hero {
  padding: 7rem 0 4rem 0;
}

#single-product-hero .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#single-product-hero .hero-texts .hero-heading {
  position: relative;
}

#single-product-hero .hero-texts .hero-heading .heading-img {
  position: absolute;
  left: -3.3rem;
  top: -3.3rem;
  max-width: 50%;
  height: auto;
  z-index: -1;
}

#single-product-hero .hero-texts .btns-container {
  padding-top: 1rem;
}

#single-product-hero .hero-texts .btns-container .orange-btn-lg {
  margin-left: 1rem;
}

#single-product-hero .hero-image {
  padding: .5rem 0 0 6rem;
}

@media (max-width: 991.98px) {
  #single-product-hero {
    padding: 5rem 0 4rem 0;
  }
  #single-product-hero .hero-image {
    display: none;
  }
}

@media (max-width: 767.98px) {
  #single-product-hero {
    padding: 4rem 0;
  }
}

#butler-score {
  padding: 1rem 0;
}

#butler-score .butler-score-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
  background-color: rgba(227, 237, 248, 0.6);
  border-radius: 15px;
}

#butler-score .butler-score-container .butler-texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#butler-score .butler-score-container .butler-texts h2 {
  font-size: 3.8rem;
  letter-spacing: 2px;
  color: #6B7280;
}

#butler-score .butler-score-container .butler-texts .score-number {
  color: #8181DA;
  margin-top: 2rem;
}

@media (max-width: 767.98px) {
  #butler-score .butler-score-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem 1rem;
  }
}

@media (max-width: 575.98px) {
  #butler-score .butler-score-container .butler-texts h2 {
    font-size: 2.6rem;
    letter-spacing: 1px;
  }
}

#products {
  padding: 1rem 0 5rem 0;
}

#products .products-lists-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 0;
  border-bottom: 1.5px solid rgba(227, 237, 248, 0.6);
}

#products .products-lists-links li {
  display: inline-block;
  margin-right: 1rem;
  padding: 4px 0;
}

#products .products-lists-links li .product-link {
  position: relative;
  padding: .6rem 0;
  font-size: 1.25rem;
  color: #414548;
  line-height: 25px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

#products .products-lists-links li .product-link:hover {
  color: #8181DA;
}

#products .products-lists-links li .product-link:hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -.5px;
  width: 100%;
  height: 2px;
  background-color: #8181DA;
}

#products .products-lists-links li .active {
  color: #8181DA;
}

#products .products-lists-links li .active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -.5px;
  width: 100%;
  height: 2px;
  background-color: #8181DA;
}

#products .information {
  padding: 2rem 0;
  display: none;
}

#products .information #overview {
  padding: 0;
}

#products .information #overview .headings {
  margin: 1rem 0;
  padding: 0;
}

#products .information #overview .headings h3 {
  color: #8181DA;
}

#products .information #overview h4 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #414548;
  line-height: 30px;
  margin-bottom: 1rem;
}

#products .information #overview p {
  font-size: 1.25;
  color: #414548;
  line-height: 25px;
  margin-bottom: 7px;
}

#products .information #overview .details {
  padding: 3rem 0 3.5rem 0;
}

#products .information #overview .details p {
  font-size: 1.125rem;
  line-height: 32.4px;
}

#products .information #overview .surfable-images {
  display: -ms-grid;
  display: grid;
  gap: 1.4rem;
  -ms-grid-columns: (minmax(150px, max-content))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, -webkit-max-content));
      grid-template-columns: repeat(auto-fit, minmax(150px, max-content));
  grid-auto-rows: auto;
  padding: 1rem 0;
  margin-bottom: 3rem;
}

#products .information #overview .faq-container {
  margin-bottom: 4.5rem;
}

#products .information #overview .faq-container .faq-elements {
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border: 1px solid #8181DA;
  border-radius: 6px;
  padding: 1rem;
  margin-bottom: 1rem;
  overflow-y: hidden;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

#products .information #overview .faq-container .faq-elements .texts-container {
  width: 80%;
}

#products .information #overview .faq-container .faq-elements .texts-container h4 {
  font-size: 1.5rem;
  line-height: 30px;
  color: #414548;
  font-weight: 500;
  margin-bottom: 1rem;
}

#products .information #overview .faq-container .faq-elements .texts-container p {
  line-height: 22px;
  color: #414548;
  margin: 0;
}

#products .information #overview .faq-container .faq-elements .btns-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 20%;
}

#products .information #overview .faq-container .faq-elements .btns-container .faq-show-btn {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-weight: 300;
  color: #8181DA;
}

#products .information #overview .faq-container .faq-elements .btns-container .faq-show-btn .hide {
  display: none;
}

#products .information #overview .faq-container .active-faq {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

#products .information #overview .faq-container .active-faq .texts-container h4 {
  color: #8181DA;
  margin-bottom: 7px;
}

#products .information #overview .faq-container .active-faq .btns-container .faq-show-btn .show {
  display: none;
}

#products .information #overview .faq-container .active-faq .btns-container .faq-show-btn .hide {
  display: block;
}

#products .pricing {
  display: none;
  padding: 2rem 0;
}

#products .pricing #pricing-container {
  padding: 0;
}

#products .pricing #pricing-container .headings {
  margin: 1rem 0;
  padding: 0;
}

#products .pricing #pricing-container .headings h3 {
  color: #8181DA;
}

#products .pricing #pricing-container .price-cards-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 28px;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: auto;
}

#products .pricing #empty-card-container {
  padding: 5rem 0 0 1.625rem;
}

#products .pricing #empty-card-container .empty-card {
  background-color: rgba(227, 237, 248, 0.6);
  border-radius: 15px;
  padding: 2rem;
  height: 380px;
}

#products .feature {
  display: none;
  padding: 2rem 0;
}

#products .feature #features-elements-container {
  padding: 0;
}

#products .feature #features-elements-container .headings {
  margin: 1rem 0;
  padding: 0;
}

#products .feature #features-elements-container .headings h3 {
  color: #8181DA;
}

#products .feature #features-elements-container .features-element {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 30px;
  grid-column-gap: 24px;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: auto;
}

#products .feature #features-elements-container .features-element .elements {
  border: 1px solid #8181DA;
  border-radius: 15px;
  padding: .55rem 1rem;
}

#products .feature #features-elements-container .features-element .elements p {
  font-size: 1rem;
  color: #414548;
  line-height: 20px;
  margin: 0;
}

#products .feature #empty-feature-container {
  padding: 5rem 0 0 1.625rem;
}

#products .feature #empty-feature-container .empty-feature {
  background-color: rgba(227, 237, 248, 0.6);
  border-radius: 15px;
  padding: 2rem;
  height: 380px;
}

#products .reviews {
  display: none;
  padding: 2rem 0;
}

#products .reviews #reviews-container {
  padding: 0;
}

#products .reviews #reviews-container .headings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
  padding: 0;
}

#products .reviews #reviews-container .headings h3 {
  color: #8181DA;
}

#products .reviews #reviews-container .reviews-container {
  padding: 1rem 0;
}

#products .reviews .reviews-compare {
  padding-top: 6.5rem;
}

#products .alternatives {
  display: none;
  padding: 2rem 0;
}

#products .alternatives #alternative-cards-container {
  padding: 0;
}

#products .alternatives #alternative-cards-container .headings {
  margin: 1rem 0;
  padding: 0;
}

#products .alternatives #alternative-cards-container .headings h3 {
  color: #8181DA;
}

#products .alternatives #alternative-cards-container .alter-cards-container {
  padding: 1rem 0 0 0;
}

#products .alternatives .alternative-compare {
  padding-top: 6rem;
}

#products .active-single-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1199.98px) {
  #products .information #overview .faq-container .faq-elements {
    height: 94px;
  }
  #products .information #overview .faq-container .active-faq {
    height: auto;
  }
}

@media (max-width: 991.98px) {
  #products .information #overview .faq-container .faq-elements {
    height: 65px;
  }
  #products .information #overview .faq-container .active-faq {
    height: auto;
  }
  #products .reviews .reviews-compare {
    padding-top: 2rem;
  }
  #products .alternatives .alternative-compare {
    padding-top: 2rem;
  }
}

@media (max-width: 767.98px) {
  #products .information #overview .faq-container .faq-elements {
    height: 98px;
  }
  #products .information #overview .faq-container .active-faq {
    height: auto;
  }
  #products .reviews #reviews-container .headings {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #products .reviews #reviews-container .headings h3 {
    margin-bottom: 1.4rem;
  }
}

@media (max-width: 415.98px) {
  #products .information #overview .faq-container .faq-elements .texts-container h4 {
    font-size: 1.2rem;
  }
}

#comparison-hero {
  padding: 7rem 0 1rem 0;
}

#comparison-hero .hero-texts .hero-heading {
  position: relative;
}

#comparison-hero .hero-texts .hero-heading .heading-img {
  position: absolute;
  left: -3rem;
  top: -3rem;
  max-width: 50%;
  height: auto;
  z-index: -1;
}

#comparison {
  padding: 2rem 0 10rem 0;
}

#comparison #table-container {
  padding: 0;
  background-color: rgba(227, 237, 248, 0.6);
  border-radius: 15px;
  margin-bottom: 3rem;
}

#comparison #table-container .header-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#comparison #table-container .header-row .thead-data {
  width: 33.33%;
  padding: 2rem 1rem;
  text-align: center;
}

#comparison #table-container .header-row .add-product button {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  font-size: 1.5rem;
  line-height: 30px;
}

#comparison #table-container .header-row .add-product button span i {
  color: #8181DA;
}

#comparison #table-container .header-row .asana {
  border-left: 1px solid #E6E6F8;
  border-right: 1px solid #E6E6F8;
}

#comparison #table-container .header-row .asana p {
  font-size: 1.5rem;
  line-height: 30px;
  margin: 1.4rem 0 1rem 0;
}

#comparison #table-container .header-row .wrike p {
  font-size: 1.5rem;
  line-height: 30px;
  margin: 1rem 0;
}

#comparison #table-container .body-row {
  border-top: 1px solid #E6E6F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

#comparison #table-container .body-row .tbody-data {
  width: 33.33%;
  padding: 1rem;
}

#comparison #table-container .body-row .tbody-data p {
  font-size: 1.25rem;
  line-height: 25px;
  margin: 0;
}

#comparison #table-container .body-row .tbody-data p .stars {
  font-size: 1rem;
  color: #FEE0BA;
}

#comparison #table-container .body-row .middle {
  border-left: 1px solid #E6E6F8;
  border-right: 1px solid #E6E6F8;
}

#hero-about {
  padding: 6rem 0 4rem 0;
}

#hero-about .hero-heading {
  position: relative;
  padding-bottom: 2rem;
}

#hero-about .hero-heading img {
  position: absolute;
  left: -3rem;
  top: -2.5rem;
  z-index: -1;
}

#hero-about .hero-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 991.98px) {
  #hero-about .hero-image {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 2rem;
  }
}

@media (max-width: 575.98px) {
  #hero-about {
    padding: 4rem 0;
  }
}

#about-stackbutler {
  padding: 4rem 0;
  background-color: #E3EDF8;
}

#about-stackbutler .stacks-container {
  padding: 3rem 0 0 0;
}

#about-stackbutler .stacks-container .stacks {
  margin-bottom: 2rem;
}

#about-stackbutler .stacks-container .stacks h4 {
  font-size: 1.5rem;
  color: #2C275F;
  line-height: 29px;
  margin: 1rem 0;
}

#about-stackbutler .stacks-container .stacks p {
  margin: 0;
  color: #2A295C;
}
/*# sourceMappingURL=app.css.map */